{% extends "main.html" %}

{% block fonts %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i&display=fallback">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap">
    <style>:root{--md-text-font:"Lato";--md-code-font:"Roboto Mono"}</style>
{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}

{% block site_nav %}{% endblock %}
