<footer class="md-footer">
    <!-- Further information -->
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
            <div class="footer-form-widget">
                <div class="widget-inner">
                    <div class="footer-logo"><a href="https://www.liquibase.com">
                        <img src="/images/logo-white.svg" alt=""></a>
                    </div>
                    <div class="footer-socials">
                        <a href="https://twitter.com/liquibase" class="f-twitter" target="_blank"></a>
                        <a href="https://github.com/liquibase/liquibase" class="f-github" target="_blank"></a>
                        <a href="https://www.reddit.com/r/liquibase/" class="f-reddit" target="_blank"></a>
                        <a href="https://www.linkedin.com/company/liquibase" class="f-linkedin" target="_blank"></a>
                        <a href="https://www.youtube.com/channel/UC5qMsRjObu685rTBq0PJX8w" class="f-youtube" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>