header.md-header {
    background-color: #FFFFFF;
    color: #000000;
}

.global-links li {
    color: rgba(14,0,51,.7);
    font-size: 14px;
    font-weight: 400;
    font-family: Lato, Helvetica, Arial, sans-serif;

    display: inline-block;
    margin: 0 0 0 12px;
}